.postWindow{
    background-color: white;
    /*margin: 20px;*/
    height: 50%;
    width: 80%;
    margin:auto;
    margin-top: 35px;
    text-align: center;
    position: relative;
}
.postPreview{
    height: 65%;
    width: 80%;
    object-fit: contain;
    display: block;
    margin: auto;
}
.postInfoBox{
    
   position: absolute;
   bottom: 0;
   margin: auto;
   margin-top: 10px;
   /*right: 8%;*/
   width:100%;
   text-align: center;
}
.postTitle{
    padding-top: 30px;
    font-family: Noto Sans;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.authorName{
    display: inline-block;
    
    margin-right: auto;
    background-color: #1164FE;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 0 5px;
}
.commentAmount{
    display: inline-block;
    font-size: 15px;
    background-color: #1164FE;
    color: white;
    border-radius: 30px;
    margin: auto;
    padding: 0 5px;
    z-index: 10;
}
.score{
    display: block;
    width: 15%;
    background-color: #1164FE;
    margin: auto;
    color: white;
    border-radius: 30px;
    padding: 0 2%;
    
}
.reactWindow{
    background-color:lightgrey;
}
.noPreview{
    position: relative;
    padding-top: 25px;
  
}
.textContainer{
    position: relative;
}
.loadingContainer{
    height: 100px;
    text-align: center;
    margin-top: 15px;
}
.loadingGif{
    
    height: 100px;
    width: 100px;
}