.postWindow{
    background-color: white;
    /*margin: 20px;*/
    height: 50%;
    width: 80%;
    margin:auto;
    margin-top: 4%;
    text-align: center;
    position: relative;
}
.postPreview{
    height: 65%;
    width: 80%;
    object-fit: contain;
    display: block;
    margin: auto;
}
.postInfoBox{
    
   position: absolute;
   bottom: 0;
   margin: auto;
   right: 8%;
   width:90%;
   margin:  auto ;
   text-align: center;
}
.postTitle{
    padding-top: 4%;
    font-family: Noto Sans;
    font-size: 20px;
}
.authorName{
    display: inline-block;
    width: 30%;
    margin-right: auto;
    background-color: #1164FE;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    text-align: center;
}
.commentAmount{
    display: inline-block;
    font-size: 15px;
    background-color: #1164FE;
    color: white;
    border-radius: 30px;

    width: 30%;
    margin: auto;
}
.score{
    display: inline-block;
    background-color: #1164FE;
    margin-left: 10%;
    color: white;
    border-radius: 30px;
    width: 10%;
}
.reactWindow{
    background-color:lightgrey;
}
.noPreview{
    display: inline-block;
    position: relative;
    top: 5%;
}
